# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
build/
build-*/

# Binários
*.exe
*.out
*.o
*.obj
*.a
*.so
*.dll

# CLion
.idea/
cmake-build-*/
*.iml

# VSCode
.vscode/

# Backup/sistema
*.log
*.swp
*~
.DS_Store
Thumbs.db
